@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Spectral:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

// color
$primary-color: #50577a;
$secondary-color: #eeeeee;

// font family
$primary-font: 'Spectral', serif;
$secondary-font: 'Satisfy', cursive;
